@charset "utf-8";

/*css初始化*/

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

html { height: 100%; }

body {
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;/*字体抗锯齿*/
  height: 100%;
}

img { border: none; }

li { list-style: none; }

input,
select,
textarea { outline: none; }

textarea { resize: none; }

a { text-decoration: none; }
